<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=firstName%>
            <%=lastName%>'s details
    </title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>
    <div id="container">
        <h1>
            <%=firstName%>
                <%=lastName%>
        </h1>
        <img src="<%=imageURL%>" width="100" height="100">
        <ul>
            <li>Age : <%=age%>
            </li>
        </ul>

    </div>
</body>

</html>